@model exam1.Models.Files

@{
    ViewData["Title"] = "Загрузка";
}

<h1>Загрузка</h1>

<h4>Files</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upload" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullDescription" class="control-label"></label>
                <input asp-for="FullDescription" class="form-control" />
                <span asp-validation-for="FullDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDownloadString" class="control-label"></label>
                <input asp-for="UserDownloadString" class="form-control" />
                <span asp-validation-for="UserDownloadString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="file" name="file" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
